<ul>
  <li class="col-12 p-0 mt-4">
    <a
      [routerLink]="link"
      routerLinkActive="active"
      class="active nav-link text-light px-2 px-sm-3"
    >
      <i class="fas fa-users"></i>
      <span class="mx-2 d-none d-lg-inline">לקוחות</span>
    </a>
  </li>
  <li class="col-12 p-0 mt-4">
    <a
      [routerLink]="link"
      routerLinkActive="active"
      class="active nav-link text-light px-2 px-sm-3"
    >
      <i class="fas fa-address-book"></i>
      <span class="mx-2 d-none d-lg-inline">לידים</span>
    </a>
  </li>
</ul>
