<nav
  class="navbar navbar-expand-lg bg-gradient text-light"
  aria-label="Fourth navbar example"
  style="background-color: #45526e; font-weight: 500"
>
  <div class="container-fluid">
    <app-hamburger></app-hamburger>

    <div class="collapse navbar-collapse" id="navbarsExample05">
      <div class="align-items-center d-flex col-12">
        <div class="w-50 justify-content-between d-flex">
          <app-left-navbar-links></app-left-navbar-links>
        </div>
        <div class="w-50 d-flex justify-content-between">
          <app-right-navbar-links></app-right-navbar-links>

          <app-logo></app-logo>
        </div>
      </div>
    </div>
  </div>
</nav>
